body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	/* background: linear-gradient(to right, blue, green 50%, yellow);
	background: linear-gradient(to bottom, blue, green); */
	background: linear-gradient(
		180deg,
		rgba(227, 255, 248, 0) 82%,
		rgba(3, 172, 130, 0.365) 100%
	);
	/* Use minimum visible area on the browser */
	min-height: 100vh;
}

.page {
	/* border: 2px dotted red; */
	width: 1000px;
	margin: 0 auto;
	padding-top: 65px;
}

nav {
	/* border: 2px dotted green; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 55px;
}

ul {
	display: flex;
	gap: 48px;
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #1f1534;
}

ul li a {
	opacity: 0.5;
}

ul li a:hover {
	font-weight: bold;
	opacity: 1;
}

h1,
ul {
	font-family: "Mulish", sans-serif;
}

h1 {
	font-size: 49px;
	font-weight: normal;
	line-height: 56px;
	color: #1f1534;

	width: 490px;
}

h1 span {
	font-weight: bold;
	color: #89c5cc;
}

section p {
	font-size: 14px;
	line-height: 28px;
	color: #7d7987;
	margin: 40px 0;
}

button {
	color: #f9f9f9;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	text-transform: uppercase;

	background-color: #69b99d;
	border: none;
	padding: 14px 32px 15px;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	border-radius: 4px;
	/* add the hand pointer */
	cursor: pointer;
}

button:hover {
	background-color: #478972;
}

main {
	/* border: 2px dotted orchid; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer {
	/* border: 2px dotted blue; */
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	margin-top: 80px;
}

footer a {
	font-weight: bold;
}

#balls {
	position: fixed;
	bottom: 0;
	right: 0;
}

#logo {
	opacity: 0.5;
	cursor: pointer;
}

#logo:hover {
	opacity: 1;
}
