* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --background-general: #040924;
}

body {
    font-size: 1.6rem;
    background-color: var(--background-general);
}
